# Python Bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
lib/
lib64/
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
*.cover
.hypothe
